//TODO: your leanix url, e.g. https://companyname.leanix.com
var config_instance = "https://companyname.leanix.net";

//TODO: your leanix workspace names, e.g. CompanynameProduction / CompanynameTraining
var config_ws_production = "CompanynameProduction";
var config_ws_training = "CompanynameTraining";

//TODO: your API token for the training workspace (40 characters)
var config_apiTokenTrain= "abc123...";

//TODO: your API token for the production workspace (40 characters)
var config_apiTokenProd= "abc123...";

//TODO: For User Filter: display names of the users you would like to filter out
var userfilter_list = ["John Doe", "Test User"];

//TODO: Customize your LeanIX fact sheet types
var factsheet_types = ["Project", "Application", "ITComponent", "TechnologyStack", "TechnicalStack", "Provider",
"UserGroup", "BusinessCapability", "DataObject", "Interface", "Process"];


///////////////no change necessary, provided by leanIX
var config_tokenPathLeanIX= "/services/mtm/v1/oauth2/token";
var config_basePathLeanIX= "/services/pathfinder/v1";


